@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--highlight); 
}



/* scemantics */
body {
    background-color: var(--background);
}

nav {
    background-color: var(--primary);
}


footer {
    width: auto;
    background-color: var(--primary);
}

main section {
    background-color: var(--secondary);
}

p, a, button, li, label, h1, h2, h3, h4, h5, h6 td, th {
    color: var(--text);
}

.highlight {
    color: var(--highlight);
}

select, input, textarea {
    background-color: var(--textbox);
    border-color: var(--primary);
}

/* classes */
.border, .border-t, .border-b, .border-l, .border-r {
    border-color: var(--secondary);
}

.kader {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

nav > section button {
    /* overschrijvt de .border class */
    border-color: var(--highlight) !important;
    background-color: var(--background);
}

nav > section button:hover {
    background-color: var(--highlight);
    color: var(--background);
    transition: 0.3s;
}

.kleur {
    background-color: var(--secondary);
    color: var(--text);
    transition: 0.3s;
}

.kleur:nth-child(2):hover {
    background-color: #eeeeee;
    color: #61876E;
}
.kleur:nth-child(3):hover {
    background-color: #000000;
    color: #e47b41;
}
.kleur:nth-child(6):hover {
    background-color: #FF6666;
    color: #FFEADD;
}
.kleur:nth-child(4):hover {
    background-color: #3C6255;
    color: #EAE7B1;
}
.kleur:nth-child(5):hover {
    background-color: #363062;
    color: #F5E8C7;
}