:root {
  --primary:   #333333;
  --secondary: #706C61;
  --background:#FFFFFF;
  --highlight: #4F6F52;
  --text:      #1A1A1A; 
  --textbox:   #ffffff;
}


.kader {
    background-image: url('../images/kaders/kader_groen.png'), linear-gradient(to top, var(--secondary), var(--background));
}