:root {
    --primary: #363062;
    --secondary: #435585;
    --background: #818FB4;
    --highlight: #F5E8C7;
    --text: #ffffff;
    --textbox: #ffffff;
}

.kader {
    background-image: url('../images/kaders/kader_lichtgeel.png'), linear-gradient(to top, var(--secondary) 50%, var(--background) 100%);
}