:root {
    --primary: #3C6255;
    --secondary: #61876E;
    --background: #A6BB8D;
    --highlight: #EAE7B1;
    --text: #000000;
    --textbox: #ffffff;
}

.kader {
    background-image: url('../images/kaders/kader_groengeel.png'), linear-gradient(to top, var(--secondary), var(--background));
}