:root {
    --primary: #000000;
    --secondary: #222222;
    --background: #151515;
    --highlight: #e47b41;
    --text: #ffffff;
    --textbox: #ffffff;
}

.kader {
    background-image: url('../images/kaders/kader_oranje.png'), linear-gradient(to top, var(--secondary) 50%, var(--background) 100%);
}