:root {
    --primary: #FF6666;
    --secondary: #FF8989;
    --background: #FCAEAE;
    --highlight: #FFEADD;
    --text: #000000;
    --textbox: #ffffff;
}

.kader {
    background-image: url('../images/kaders/kader_beige.png'), linear-gradient(to top, var(--secondary), var(--background));
}